version: "3.8"
services:
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/myapp
    depends_on:
      - mongo


 

  frontend:
    build: ./frontend/my-react-app
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
